.footer {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 25.2px */
    letter-spacing: -0.63px;
    margin-top:150px
}

.footer p:nth-child(2){
    inline-size: ;
}