@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');

.container {
    display:flex;
    flex-direction: row;
    margin-top: 20vh;
    margin-bottom: 30vh;
}

.left-content {
    display:flex;
    flex-direction: column;
}

.left-content h1 {
    color: var(--Main-Black, #181717);
    inline-size: 320px;
    overflow-wrap: break-word;

    /* Heading-1 */
    font-size: 60px;
    font-style: normal;
    font-weight: 450;
    line-height: 97.2%; /* 58.32px */
    letter-spacing: -1.8px;

    margin-bottom: 10px;
}

.icons {
    display:flex;
    margin-bottom: 50px;
}

.down-arrow {
    cursor: pointer;
}

.right-content {
    margin-left: auto;
    padding-top: 30px;
    inline-size: 500px;
    overflow-wrap: break-word;
}

.right-content h1 {
    color: #606060;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%; /* 37.44px */
    letter-spacing: -0.96px;
}

.linkedin {
    margin-right: 10px
}