.project{
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid #000;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 100%;
}

.left-content {
    display:flex;
    flex-direction: column;
    inline-size: 400px;
    overflow-wrap: break-word;
    margin-right: 100px;
}

.left-content h1 {
    color: var(--Main-Black, #181717);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 121.5%; /* 29.16px */
    letter-spacing: -0.72px;
}

.left-content h2 {
    color: var(--Main-Black, #181717);
    text-align: center;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 121.5%; /* 25.515px */
    letter-spacing: -0.63px;
    margin-bottom: 40px;
}

.tech-stacks {
    display:flex;
    flex-direction: row;
    
    margin-bottom: 40px;
}

.tech-stack {
    margin:auto;
    justify-content: space-between;
}

.demo {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: auto;
}

.live-demo {
    margin-left: 15px;
}

.live-demo:hover {
    transform: scale(1.1); /* Scale up on hover */
}

.github-link {
    margin-right: 15px
}

.github-link:hover {
    transform: scale(1.1);
}

.image {
    max-width: 637px;
    max-height: 383px;
    width:60%;
    overflow: hidden;
    height: auto;
    padding-bottom: 40px;
}

@media (min-width: 700px) and (max-width: 1200px) {
    .project{
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .image {
        max-width: 637px;
        width:50%;
        overflow: hidden;
        margin: auto;
    }

    .left-content {
        margin: auto;
    }
}

@media (min-width: 200px) and (max-width: 699px) {
    .project{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    
    .image {
        max-width: 637px;
        min-width: 208px;
        width:50%;
        overflow: hidden;
        margin: auto;
    }

    .left-content h1 {
        font-size: 20px;
    }

    .left-content {
        margin: auto;
        inline-size: 60vw;
    }

    .left-content h2 {
        font-size: 19px;
    }

    .tech-stack {
        width: 50px;
        margin:auto;
        justify-content: space-between;
    }

    .live-demo {
        width: 30vw;
    }

    .github-link {
        width: 20vw;
    }
}